#about {
  padding: 1rem;
  display: flex;
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin: 2rem;
}

#about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  background: #fff;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 5px solid grey;
}

#about h2 {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 1rem;
  margin-top: 0.2rem;
  margin-left: 0.3rem;
}

.separator1 {
  border-top: 2px solid black;
  width: 100%;
  margin: 20px 0;
}

#about p {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  font-weight: 300;
}

@media (max-width: 768px) {
  #about {
    margin: 1rem;
  }

  #about-content {
    padding: 1rem;
  }

  #about h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  #about p {
    font-size: 1rem;
    line-height: 1.5;
  }
}

@media (max-width: 480px) {
  #about h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  #about p {
    font-size: 0.9rem;
    line-height: 1.4;
  }
}
