/* Base styles */
header {
  background-color: #333;
  color: white;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: 'Helvetica', sans-serif;
  font-size: 50px;
  background: white;
  -webkit-background-clip: text;
  color: transparent;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 150%;
}

/* Responsive styles */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    font-size: 35px; /* Adjusted for smaller screens */
    margin-bottom: 1rem;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li {
    margin: 0.5rem 0;
  }

  nav ul li a {
    font-size: 120%; /* Adjusted for smaller screens */
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 28px; /* Further adjustment for very small screens */
  }

  nav ul li a {
    font-size: 100%; /* Further adjustment for very small screens */
  }
}
