#skills {
  padding: 1rem;
  display: flex;
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin: 2rem;
}

.skills-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  background: #fff;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 5px solid grey;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

#skills h2 {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 1rem;
  margin-top: 0.2rem;
  margin-left: 0.3rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  margin: 10px;
}

.skill i {
  font-size: 40px;
  margin-bottom: 10px;
}

.skill p {
  font-size: 16px;
  margin: 0;
}

.separator2 {
  height: 2px;
  width: 100%;
  background-color: #000;
  margin: 10px auto 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
  #skills {
    margin: 1rem;
  }

  .skills-content {
    padding: 1rem;
  }

  #skills h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .skill {
    width: 80px;
    margin: 5px;
  }

  .skill i {
    font-size: 30px;
    margin-bottom: 5px;
  }

  .skill p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  #skills h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .skill {
    width: 60px;
    margin: 5px;
  }

  .skill i {
    font-size: 25px;
    margin-bottom: 5px;
  }

  .skill p {
    font-size: 12px;
  }
}
